//- template
extends ../layouts/default

//- dependencies
include ../../src/components/banner/banner
include ../../src/components/clients/clients
include ../../src/components/contact/contact
include ../../src/components/content-section/content-section
include ../../src/components/documents/documents
include ../../src/components/footer/footer
include ../../src/components/header/header
include ../../src/components/questions/questions
include ../../src/components/services/services

//- markup
block content
  +header
  +banner(banners)

  .c-content
    +content-section(institutional['about-us'], { id: 'empresa' })
    +content-section(institutional.company, { imageClass: 'company' })
    +services
    +clients
    +questions
    +contact

  +footer
  +documents
