//- template
extends ../layouts/default

//- dependencies
include ../../src/components/banner/banner
include ../../src/components/footer/footer
include ../../src/components/header/header

//- markup
block content
  +header
  +banner(banners)

  .c-content
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita molestias saepe illum maxime, corrupti perferendis, ipsum beatae, minus pariatur totam asperiores ex harum, fuga. Ipsam voluptate, non unde veniam deleniti!

  +footer
