.c-questions
  color $color-text

  &__wrapper
    padding 6rem 4rem 0

  &__item
    margin-top 1.5rem

    &:first-child
      margin-top 0

  &__heading
    font-size rem(18)
    text-transform uppercase
