mixin social-nav(baseClass)
  nav.c-social-nav(class=baseClass || '')
    each item in socialNav
      li.c-social-nav__item.h-im
        a.c-social-nav__link.u-icon.h-im(href=item.url, title=item.label) #{item.icon}
