.c-social-nav
  margin 1rem 0 0 1.5rem

  &--header
    background $color-accent
    border-radius 0 1rem 1rem 0
    display none
    margin 0
    padding 1.25rem 1.25rem 1.25rem 1.75rem
    position relative

    +breakpoint(md)
      display block

    &:before
      border-style solid
      border-width 4.25rem 1.5rem 0 0
      border-color $color-brand transparent transparent transparent
      content ''
      position absolute
      transform rotate(360deg)
      size 0
      top 0
      left 0

    .c-social-nav
      &__item
        margin-left 0.5rem

      &__link
        color $color-brand
        font-size rem(14)

  &__item
    margin-left 1rem

    &:first-child
      margin-left 0
      margin-top -0.2rem

  &__link
    color $color-text
    font-size rem(16)
    margin-top -0.25rem
