.c-address
  padding 0 1rem

  +breakpoint(md)
    padding 0

  &__group
    margin-top 0.5rem

    &:first-child
      margin-top 0

  &__icon
    color $color-text
    font-size rem(16)
    padding 0.25rem 0.75rem 0 0

  &__content
    color $color-text
    font-weight 300
    text-transform uppercase

    a
      text-transform none
