.c-content-section
  background-position bottom -500px
  background-repeat no-repeat
  color $color-text
  overflow-x hidden

  &__wrapper
    padding-top 4rem
    position relative

  &__heading
    padding 0 4rem
    text-transform uppercase

  &__image
    &.company
      float right
      margin 12rem -2rem 0 2rem

  &__content
    font-size rem(14)
    line-height 1.5
    padding 1rem 4rem

  h3
    margin 1.5rem 0 0.5rem

  p
    margin-top 0.75rem

    &:first-child
      margin-top 0
