.c-content-section
  background-position bottom -500px
  background-repeat no-repeat
  color $color-text
  overflow-x hidden

  &__wrapper
    padding-top 4rem
    position relative

  &__heading
    padding 0 4rem
    text-transform uppercase

  &__image
    &.company
      float right
      margin 12rem -2rem 0 2rem

  &__expander
    display none

    ~ .c-content-section__content
      display none

    &:checked
      ~ .c-content-section
        &__trigger
          display none

        &__content
          display block

  &__trigger
    color $color-brand
    padding 0 4rem
    position relative
    top -0.25rem
    text-decoration underline

    label
      cursor pointer

  &__content
    font-size rem(14)
    line-height 1.5
    padding 1rem 4rem

    &--extra
      padding 0 4rem 6rem

  h3
    margin 1.5rem 0 0.5rem

  p
    margin-top 0.75rem

    &:first-child
      margin-top 0

  ul
    color $color-brand
    list-style outside
