.c-content-section
  background-position bottom -500px
  background-repeat no-repeat
  overflow-x hidden

  &__wrapper
    padding-top 4rem
    position relative

  &__image
    margin 10rem -2rem 0 2rem
    float right

  &__content
    color $color-text
    font-size rem(14)
    line-height 1.5
    padding 1rem 4rem

  h3
    margin 1.5rem 0 0.5rem
