$font-base = Trebuchet MS, sans-serif
$max-width = 70em

$breakpoints = {
  xl: 80em,  // 1280px
  lg: 64em,  // 1024px
  md: 48em,  // 768px
  sm: 35.5em // 568px
}

$color-brand = #052746
$color-accent = #d4c26d
$color-accent-darker = #9d9252
$color-text = #6d6e71
$color-bg = #e6e7e8

$angle-horz = 3deg
