mixin content-heading(heading, hasWrapper, baseClass)
  if hasWrapper
    header.c-content-heading-wrapper.h-limiter(class=baseClass || '')
      h2.c-content-heading #{heading}
  else
    h2.c-content-heading #{heading}
