.c-content-heading
  background-image linear-gradient(to left, $color-text, rgba($color-text, 0))
  backface-visibility hidden
  color #fff
  font-size rem(14)
  padding 0.5rem 0.75rem
  position absolute
  left -4rem
  top 0.75rem
  text-align right
  text-transform uppercase
  transform 'skewY(%s)' % $angle-horz
  width 20rem

  +breakpoint(md)
    left -12rem

  &-wrapper
    position relative
    z-index 1
