.c-content-heading
  background-image linear-gradient(to left, $color-text, rgba($color-text, 0))
  color #fff
  font-size rem(14)
  margin 0 0 1rem -8rem
  padding 0.5rem 0.75rem
  text-align right
  text-transform uppercase
  width 20rem
