//- dependencies
include ../address/address
include ../contact-form/contact-form
include ../content-heading/content-heading
include ../map/map
include ../social-nav/social-nav

mixin contact()
  .c-contact
    +content-heading('Contato | Pesquise sua marca', true)

    .c-contact__wrapper.h-limiter
      .u-grid
        .u-grid__cell.u-grid__cell--1-2
          +address()
          +social-nav
          +map()

        .u-grid__cell.u-grid__cell--1-2
          h3.c-contact__heading Solicite uma pesquisa sobre a sua marca de forma rápida e fácil.
          +contact-form()
