.c-header
  background $color-brand
  padding-bottom 6rem

  &__wrapper
    display flex

  &__logo
    background #fff
    padding 2.5rem 2rem 2rem
    margin-top -0.5rem
    transform skewX(-15deg) 'skewY(%s)' % $angle-horz

    .img
      backface-visibility hidden
      transform skewX(15deg) 'skewY(%s)' % ($angle-horz *-1)

  &__nav-holder
    align-items center
    display flex
    flex 1

  &__main-nav
    display none
    flex 1
    text-align center

    +breakpoint(md)
      display block

    &__item
      color $color-accent
      margin 0 0.1rem

      &:not(:last-child):after
        content: '|'
        margin-left 0.3rem

    &__link
      font-size rem(14)
      text-transform uppercase

      &.is.active
        background $color-accent
        color $color-brand
        padding 0.25rem 0.5rem

  &__select-nav
    display block
    margin-left auto

    +breakpoint(md)
      display none
