.c-header
  background $color-brand
  border-bottom 0.65rem solid $color-accent-darker
  position fixed
  width 100%
  z-index 2

  &:after
    background $color-accent
    content ''
    display block
    size 100% 0.85rem

  &__wrapper
    display flex

  &__logo
    img
      display block

  &__nav-holder
    align-items center
    display flex
    flex 1

  &__main-nav
    display none
    flex 1
    text-align center

    +breakpoint(md)
      display block

    &__item
      color $color-accent
      margin 0 0.1rem

      &:not(:last-child):after
        content: '|'
        margin-left 0.3rem

      &.is-active
        .c-header__main-nav__link
          background $color-accent
          color $color-brand
          padding 0.25rem 0.5rem

    &__link
      font-size rem(14)
      text-transform uppercase

  &__select-nav
    display block
    margin-left auto

    +breakpoint(md)
      display none
