// vendor
@import './vendor/normalize'

// utils
@import './util/config'
@import './util/rem'
@import './util/reset'
@import './util/helpers'
@import './util/breakpoints'
@import './util/grid'
@import './util/base'

// components
@import '../components/footer/style'
