mixin map()
  .c-map
    h3.c-map__heading Como chegar

    label.c-map__field
      p.c-map__label Onde você está?
      input#location-field.c-map__input(type='text', placeholder='Digite seu endereço completo')

    .c-map__holder#map-canvas
