.c-map
  color $color-text
  margin-top 2rem

  &__heading
    text-transform uppercase

  &__input,
  &__holder
    border 2px solid lighten($color-text, 20)

  &__input
    margin 0.5rem 0 1rem
    padding 0.5rem
    width 100%

  &__route
    display none
    margin-bottom 1.25rem

    &.show
      display block

    ol
      list-style-type decimal

    li
      margin-top 0.25rem

  &__holder
    height 22.75rem
