.c-banner
  border-top 1rem solid $color-accent
  border-bottom 0.35rem solid #fff
  box-shadow 0 1rem 1.5rem rgba(0,0,0,0.35)
  position relative
  margin-top -3rem
  transform 'skewY(%s)' % $angle-horz

  &:before
    background $color-accent-darker
    content ''
    display block
    margin-top -1px
    size 100% 0.6rem

  .img
    display block
    width 100%
