.c-banner
  background #fff
  border-bottom 0.35rem solid #fff
  box-shadow 0 1rem 1.5rem rgba(0,0,0,0.35)
  overflow hidden
  padding-top 10rem
  transform 'skewY(%s)' % $angle-horz

  &__item
    margin -2.5rem 0
    transform 'skewY(%s)' % ($angle-horz * -1)

  .img
    display block
    width 100%

  &__nav
    $pad= 2rem

    &--next
      right $pad

    &--prev
      left $pad
